@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

/* 초기화 */
* {margin:0;padding:0;box-sizing:border-box;}
html, body{color:#3d3d3d;font-family:'Noto Sans KR', sans-serif;font-weight:normal;overflow-x:hidden;background:#fff;}
a {color:#3d3d3d;text-decoration:none;}
ul,li,ol,dl {list-style:none}

/* 공통 */
.wrap{max-width:750px;margin:0 auto;height:100%;background:#fff;overflow:hidden;}

/*Intro*/
.loading{width:100%;height:100vh;display:flex;justify-content:center;align-items:center;}
.loading .character_area{position:relative;}
.loading .mice{width:200px;animation:walk 3s ease-in-out both;}
.loading .dungdung{width:140px;position:absolute;top:-100px;right:-52px;animation:fadeIn .5s 3s ease-in-out both;opacity:0}

/*Start*/
.start_area{width:100%;height:100vh;position:relative;display:flex;flex-direction:column;}
.start_area h1{width:100%;text-align:center;margin-top:135px;margin-left:20px;}
.start_area h1 img{width:250px;animation:to-top .5s ease-in-out both;opacity:0;}
.start_area .number_wrap li{position:absolute;top:100px;left:50%;margin-left:-161px;opacity:0}
.start_area .number_wrap li img{width:33px;}
.start_area .number_wrap li:nth-of-type(1){transform:rotate(-17deg);animation:fadeIn .2s .5s ease-in-out both;}
.start_area .number_wrap li:nth-of-type(2){top:73px;margin-left:-129px;animation:fadeIn .2s .7s ease-in-out both;}
.start_area .number_wrap li:nth-of-type(2) img{width:62px;}
.start_area .number_wrap li:nth-of-type(3){top:58px;margin-left:-57px;animation:fadeIn .2s .9s ease-in-out both;}
.start_area .number_wrap li:nth-of-type(3) img{width:38px;}
.start_area .number_wrap li:nth-of-type(4){top:70px;margin-left:0;transform:rotate(15deg);animation:fadeIn .2s 1.2s ease-in-out both;}
.start_area .number_wrap li:nth-of-type(4) img{width:47px;}
.start_area .subway_wrap{width:100%;position:relative;}
.start_area .subway{display:flex;flex-wrap:nowrap;width:400%;margin-top:35px;animation:subway_roll 5s 0ms infinite linear;}
.start_area .subway li img{width:400px;}
.start_area .subway li:nth-of-type(odd) img{transform:scaleX(-1);}
.start_area .btn_wrap{display:flex;flex-direction:column;align-items:center;margin-top:70px}
.start_area .btn_wrap li{width:150px;margin-bottom:10px;position:relative;opacity:0;animation:to-top .5s 1.5s ease-in-out both;}
.start_area .btn_wrap li button{border:none;background:transparent;}
.start_area .btn_wrap li .btn{width:100%;}
.start_area .btn_wrap li:hover .btn{animation:bounce-to .8s ease-in-out both;}
.start_area .btn_wrap li .mice{width:70px;position:absolute;top:-10px;right:-80px;display:none}
.start_area .btn_wrap li:hover .mice{display:block}
/*popup*/
.popup{display:none}
.popup .bg{width:100%;height:100%;background:#000;opacity:0.5;position:fixed;top:0;left:0}
.popup .cont{width:300px;background:#fff;padding:20px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);border-radius:10px;}
.popup .cont p{font-size:14px;}
.popup .cont .close {position:absolute;top:5px;right:10px;}
.popup .cont .close:after{content:"\00d7"; font-size:20px;}
.popup .cont span{color:red;font-weight:bold;}

/* game */
.quiz_area{width:100%;height:100vh;position:relative;display:flex;flex-direction:column;justify-content:center;}
.quiz_area .quiz_count{text-align:center;margin:10px 0;font-size:34px;font-family:'Gaegu',sans-serif;}
.quiz_area > div:first-of-type{width:200px;height:250px;margin:0 auto 15px auto;background:url('../img/q_line1.png') center top/100% no-repeat;position:relative;}
.quiz_area > div:first-of-type.line2{background-image:url("../img/q_line2.png");}
.quiz_area > div:first-of-type.line3{background-image:url("../img/q_line3.png");}
.quiz_area > div:first-of-type.line4{background-image:url("../img/q_line4.png");}
.quiz_area > div:first-of-type.line4{background-image:url("../img/q_line4.png");}
.quiz_area .quiz p{position:absolute;top:37px;left:50%;transform:translateX(-50%);margin-left:5px;width:75%;text-align:center;font-size:30px;font-weight:bold;font-family:'Gaegu',sans-serif;}
.quiz_area .answer_area{width:270px;height:230px;margin:0 auto;background:url('../img/answer_area.png') center top/100% no-repeat;position:relative}
.quiz_area .answer_area form label{position:absolute;top:26px;left:16px}
.quiz_area .answer_area form label input{border:0;outline:0;width:212px;height:50px;line-height:50px;box-sizing:border-box;text-align:center;font-size:29px;font-weight:bold;font-family:'Gaegu',sans-serif;}
.quiz_area .answer_area button{position:absolute;top:143px;right:0;width:130px;background:transparent;border:none;cursor:pointer;}
.quiz_area .answer_area button img{width:100%;}
.quiz_area .answer_area button .click{display:none;}
.quiz_area .answer_area button .click.on{-webkit-animation:blink-2 1s linear infinite both;animation:blink-2 1s linear infinite both;width:90px;position:absolute;top:-35px;left:-26px;display:block;}
.quiz_area .answer_area .mice{width:100px;position:absolute;top:110px;left:0;}
.quiz_area .timer{width:80px;display:block;margin:10px auto 0;}
.quiz_area .timer.on{-webkit-animation: timer-ani 0.3s linear infinite both;animation: timer-ani 0.3s linear infinite both;}
.quiz_area .scoring{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:300px;}

/*result*/
.result{width:100%;height:100vh;position:relative;display:flex;flex-direction:column;justify-content:center;}
.result .level_img{width:230px;margin:0 auto;display:block}
.result .score{font-size:50px;text-align:center;font-family:'Gaegu',sans-serif;margin:15px 0;}
.result .result_txt{display:block;padding:25px;border-radius:10px;background:#eef5ff;font-size:18px;text-align:center;width:350px;margin:0 auto;}
.result .retry_btn{display:block;width:180px;margin:30px auto 0 auto;background:#fff;border:none;cursor:pointer;}
.result .retry_btn img{width:100%;}
.result .retry_btn:hover img{animation:bounce-to .8s ease-in-out both;}

/* animation */
@keyframes walk {
    5%{margin-left:5%;transform:rotate(0deg)}
    10%{margin-left:0%;transform:rotate(-10deg)}
    15%{margin-left:0%;transform:rotate(0deg)}
    35%{transform:rotate(0deg)}
    40%{margin-left:-5%;transform:rotate(-10deg)}
    55%{margin-left:-5%;transform:rotate(0deg)}
    80%{transform:rotate(0deg)}
    85%{margin-left:-10%;transform:rotate(-10deg)}
    100%{margin-left:-10%;transform:rotate(0deg)}
}
@keyframes fadeIn {
    100%{opacity:1}
}
@keyframes to-top{
    100%{
        transform:translateY(-8%);
        -webkit-transform:translateY(-8%);
        opacity:1;
    }
}
@keyframes bounce-to{
    0% {
        -webkit-transform:translateY(-20px);
        transform:translateY(-20px);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
        opacity:1;
    }
    24% {
        opacity:1;
    }
    40% {
        -webkit-transform:translateY(-15px);
        transform:translateY(-15px);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    65% {
        -webkit-transform:translateY(-8px);
        transform:translateY(-8px);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    82% {
        -webkit-transform:translateY(-4px);
        transform:translateY(-4px);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    93% {
        -webkit-transform:translateY(-2px);
        transform:translateY(-2px);
        -webkit-animation-timing-function:ease-in;
        animation-timing-function:ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out;
    }
    100% {
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
        -webkit-animation-timing-function:ease-out;
        animation-timing-function:ease-out;
        opacity:1;
    }

}
@keyframes subway_roll{
    0% {
        transform:translate(0, 0);
    }
    100% {
        transform:translate(-800px, 0);
    }
}
@-webkit-keyframes blink-2 {
    0% {
      opacity:1;
    }
    50% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
}
  @keyframes blink-2 {
    0% {
      opacity:1;
    }
    50% {
      opacity:0.2;
    }
    100% {
      opacity:1;
    }
}
@-webkit-keyframes timer-ani {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes timer-ani {
    0% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
  }